/* /Pages/Model.razor.rz.scp.css */
.grid[b-8u2v330ayt] {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 200px;
    grid-template-areas: 
        "code model"
        "output output";
    border: 1px solid lightgray;
    height: calc(100vh - 16px);
}

#editor[b-8u2v330ayt] {
    grid-area: code;
    border-right: 1px solid lightgray;
}

#model[b-8u2v330ayt] {
    grid-area: model;
    background: linear-gradient(#b8b8b8, #ffffff);
}

.output[b-8u2v330ayt] {
    overflow-y: auto;
    font-family: monospace;
    font-size: 10pt;
    color: darkgray;
    grid-area: output;
    border-top: 1px solid lightgray;
    padding: 10px;
}

.error[b-8u2v330ayt] {
    color: red;
}

.success[b-8u2v330ayt] {
    color: green;
}

.message[b-8u2v330ayt] {
    color: gray;
}

.run[b-8u2v330ayt] {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
